<%- include('../Includes/Header.ejs') %>
    <title>
        <%= title_page %></title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('../Includes/Navigation.ejs') %>
    <div>
        <form method="POST" action="/postValue" class="frm">
            <label>First Name: </label><br>
            <input type="text" name="fname" placeholder="Enter first name" class="in"><br>
            <label>Last Name:     </label><br>
            <input type="text" name="lname" placeholder="Enter last name" class="in"><br>
            <label>City:  </label><br>
            <input type="text" name="city" placeholder="Enter city" class="in"><br>
            <label>Pin:  </label><br>
            <input type="text" name="pin" placeholder="Enter pin" class="in"><br>
            <label>Phone:  </label><br>
            <input type="text" name="phone" placeholder="Enter phone" class="in"><br>
            <label>Email:  </label><br>
            <input type="email" name="email" placeholder="Enter email" class="in"><br>
            <label>Password:  </label><br>
            <input type="password" name="pas" placeholder="Enter password" class="in"><br>
            
            <input type="submit" value="Submit" class="btn" id="butn">
        </form>
    </div>
<%- include('../Includes/Footer.ejs') %>





